button.nav{
  background: #000000;
  border-color: #000000;
  color:#ffffff;
  font-size: 15px;
  
}
.navBar{
display: flex;
justify-content: center;
background: #000000;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li button {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li button:hover {
  text-shadow: 1px 0px 5px #ffffff;
  transition: 0.5s;
}

.sticky {
  position: fixed;
  width: 100%;
  padding-top: 8px;
  background: #000000;
}
